<html>
    <body>
            <div type="card">
                Username: <%= user.username %> <br>
                Balance: <%= user.Wallet.dataValues.accountBalance %> 
            </div>
            <a href="/buyer/product/<%= user.id %> /wallet"><button>Top Up</button></a>
        <br>
        <br>
        <form action="/buyer/product?name=name">
            <input type="text" name="name" placeholder="what game do you like....">
            <button type="submit">Search</button>
        </form>
        
        <table border="1">
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Description</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
            <% product.forEach((el, i) => { %>
                <tr>
                    <td><%= i + 1 %></td>
                    <td><%= el.name %></td>
                    <td><%= el.stock %></td>
                    <td><%= el.price %></td>
                    <td><%= el.description %></td>
                    <td><%= el.Category.dataValues.name %> </td>
                    <td>
                    <% if (el.stock > 0) { %>
                        <a href="/buyer/product/buy/<%= el.id %> "><button>Buy</button></a>
                    <% } else if (el.stock === 0) { %>
                        Out Of Stock
                    <% } %>
                    </td>
                </tr>
            <% }) %>
        </table>
    </body>
</html>